/* COLOR SCHEME */
$body-background: rgb(232, 241, 240);
$app-background: #a8bcdd;
$text-color: #2c3e50;
$nav-background-color: rgb(103, 108, 112);
$nav-link-active: rgb(215, 219, 223);
$nav-text-color: rgb(247, 254, 255);
$forum-contents-background-color: aliceblue;
$primary-button: rgb(57, 75, 78);



body {
  background-color: $body-background;
  margin: 0;
}

p {
  font-size: .8rem;
}

label {
  font-size: 1.2rem;
}

input {
  font-size: 1.1rem;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $text-color;
}

input:focus {
  outline: none;
  box-shadow: 0 0 5px rgb(55, 50, 61);
  background-color: $body-background;
}

button {
  color: $nav-text-color;
  border-radius: .5rem;
  border: none;
  padding: .4rem;
  font-size: 1.2rem;
}

button:hover {
  cursor: pointer;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $text-color;
  background-color: $app-background;
  height: 100vh;
}

@media (min-width: 500px) {
  #app {
    width: 70%;
    margin: 0 auto;
    box-shadow: 0px 0px 4px black;
  }
}